* {
	box-sizing: border-box;
}
.game-container {
	border-style: solid;
	border-width: 10px;
	border-color: aqua;
	margin: 10px auto;
	width: 65.5%;
	height: 520px;
	position: relative;
}

.space {
	background-image: url("../Games/Space-invaders/Images/Starry-sky.png");
	width: 100%;
	height: 500px;
	position: absolute;
}
.ground {
	background-color: rgba(165, 42, 42, 0.411);
	width: 100%;
	height: 100px;
	top: 400px;
	position: absolute;
}
.player {
	background-color: green;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 25px;
	left: 46%;
	transition: left 0.13s;
	transition-timing-function: linear;
	z-index: +1;
}

.projectile {
	background-color: rgb(174, 0, 255);
	/* background-image: url("../Games/Space-invaders/Images/"); */
	width: 15px;
	height: 30px;
	position: absolute;
	top: 395px;
	left: 46%;
	z-index: +1;
}

.invaders {
	background-color: red;
	width: 90px;
	height: 90px;
	position: absolute;
	transition: top 0.2s;
	transition-timing-function: linear;
	z-index: +2;
}
